{% extends "layout.html" %}
{% block content %}
<div class="container">
    <header>
        <h1>{{ thread_info.name }}</h1>
    </header>

    <div class="con">
        {% for response in responses %}
        <div class="res">
            <div class="res_head">
                {{ response.response_number }}:{{ response.user_name }}
            </div>
            <div class="res_content">
                {{ response.response }}
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>


    <form action="/res/{{ thread_info.id }}" method="POST">
        <div class="form-group">
            <label>名前</label>
            <input type="text" name="response-username">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" name="response-response"></textarea>
        </div>
        <button type="submit">送信</button>
    </form>
</div>
{% endblock %}
